<article class="service-card" [attr.aria-labelledby]="'service-' + service.id">
  <div class="service-card__icon" aria-hidden="true">
    {{ service.icon }}
  </div>
  
  <h3 [id]="'service-' + service.id" class="service-card__title">
    {{ service.title }}
  </h3>
  
  <p class="service-card__description">
    {{ service.description }}
  </p>
  
  <ul class="service-card__benefits" aria-label="Beneficios">
    @for (benefit of service.benefits; track benefit) {
      <li class="service-card__benefit">
        <span class="service-card__benefit-icon" aria-hidden="true">✓</span>
        {{ benefit }}
      </li>
    }
  </ul>
</article>
